{% load static %}
{% block content %}
{% include 'admin/menu.html' %}

              <div class="col-lg-10 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Assigned Courier Details</h4><br>
                    <!--<p class="card-description"> Add class <code>.table-bordered</code>
                    </p>-->
                    <table class="table table-bordered">
                      <thead>
                          <tr>
                              <th>Customer Name</th>
                              <th>District</th>
                              <th>Street</th>
                              <th>Phone</th>
                              <th>Number of items</th>
                              <th>Amount Paid</th>
                              <th colspan="2">Manage</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for group in result %}
                              {% for payment_detail in group.payment_details %}
                                  <tr>
                                      {% if forloop.first %}
                                          <td rowspan="{{ group.payment_details|length }}">{{ payment_detail.user_details.fname }} {{ payment_detail.user_details.lname }}</td>
                                          <td rowspan="{{ group.payment_details|length }}">{{ payment_detail.user_details.district }}</td>
                                          <td rowspan="{{ group.payment_details|length }}">{{ payment_detail.user_details.street }}</td>
                                          <td rowspan="{{ group.payment_details|length }}">{{ payment_detail.user_details.phone }}</td>
                                      {% endif %}
                                      <td>{{ payment_detail.number_of_items }}</td>
                                      <td>{{ payment_detail.amount_paid }}</td>
                                      {% if group.assignment_details.status == 'Accepted' %}
                                      <td colspan="2" style="color: green;">You Accepted the request<br>
                                      <a href="delivery_update_company/{{ group.assignment_details.id }}" class="btn btn-gradient-primary me-2">Update Delivery Detail</a>

                                      </td>
                                      {% elif group.assignment_details.status == 'rejected' %}
                                      <td colspan="2" style="color: red;">You Rejected the request </td>
                                      {% elif group.assignment_details.status == 'delivered' %}
                                      <td colspan="2" style="color: rgb(30, 87, 11);"><b>Delivered</b></td>
                                      {% else %}
                                      <td><a href="accept_courier/{{ group.assignment_details.id }}" class="btn btn-gradient-primary me-2">Accept</a></td>
                                      <td><a href="reject_courier/{{ group.assignment_details.id }}" class="btn btn-gradient-primary me-2">Reject</a></td>
                                      {% endif %}
                                  </tr>
                              {% endfor %}
                          {% endfor %}
                      </tbody>
                  </table>
                  
                    
                    
                    
                    
                  </div>
                </div>
              </div>
              </div>
          
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
        
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  {% endblock %}
  </body>
</html>