{% load static %}
{% block content %}
{% include 'admin/menu.html' %}

              <div class="col-lg-10 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Delivered Courier Details</h4><br>
                    <!--<p class="card-description"> Add class <code>.table-bordered</code>
                    </p>-->
                    <!-- view_delivery_details.html -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>District</th>
            <th>Street</th>
            <th>Phone</th>
            <th>Number of Items</th>
            <th>Amount Paid</th>
            <th>Courier Assigned Date</th>
            <th>Delivery Date</th>
        </tr>
    </thead>
    <tbody>
        {% for delivery_assignment in result %}
        {% for delivery_detail in delivery_assignment.delivery_details %}
        <tr>
            {% if forloop.first %}
            <td rowspan="{{ delivery_assignment.delivery_details|length }}">{{ delivery_detail.user_details.fname }} {{ delivery_detail.user_details.lname }}</td>
            <td rowspan="{{ delivery_assignment.delivery_details|length }}">{{ delivery_detail.user_details.district }}</td>
            <td rowspan="{{ delivery_assignment.delivery_details|length }}">{{ delivery_detail.user_details.street }}</td>
            <td rowspan="{{ delivery_assignment.delivery_details|length }}">{{ delivery_detail.user_details.phone }}</td>
            {% endif %}
            <td>{{ delivery_detail.number_of_items }}</td>
            <td>{{ delivery_detail.amount_paid }}</td>
            <td>{{ delivery_detail.cassign_date }}</td>
            <td>{{ delivery_detail.del_date }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </tbody>
</table>

                    
                    
                    
                    
                  </div>
                </div>
              </div>
              </div>
          
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
        
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  {% endblock %}
  </body>
</html>