{% load static %}
{% block content %}
{% include 'admin/menu.html' %}

        <!-- partial -->
       <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> View Customers</h3>
              <nav aria-label="breadcrumb">
               
              </nav>
            </div>
            <div class="row">
          
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Customers Details</h4><br>
                 
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th>  name </th>
                          <th> Gender </th>
                          <th> Address </th>
                          <th> Date of Birth </th>
                          <th> ph no </th>
                          <th> Email </th>
                          {% if request.session.admin %}
						   <th>Remove</th>
               {% endif %}

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in result %}
                        <tr>

                            <td>{{i.id}}</td>
                            <td>{{i.fname}} {{i.lname}} </td>
                            <td>{{i.gender}}</td>
                            <td>
                            {{i.street}},<br>
							              {{i.district}},</td>
                            <td>{{i.dob}}</td>

                            <td>{{i.phone}}</td>
                            <td>{{i.email}}</td>
                            {% if request.session.admin %}
                            <td><a href="removecustomer/{{i.id}}"><i class="mdi mdi-delete menu-icon" style="font-size: 24px; color:red"></i></a></td>
                              {% endif %}

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>
         
            </div>
          </div>
		  </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  {% endblock %}
  </body>
</html>