{% load static %}
{% block content %}
{% include 'admin/menu.html' %}
        <!-- partial -->
        <!--<div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Basic Tables </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Tables</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
                </ol>
              </nav>
            </div>






                    </table>
                  </div>
                </div>
              </div>-->
              <div class="col-lg-3 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Product Details</h4><br>
                    <!--<p class="card-description"> Add class <code>.table-bordered</code>
                    </p>-->
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th> # </th>
                          <th> Product Category  </th>
                          <th> Item name</th>
                          <th> Rate</th>
                          <th> Description</th>
                          <th> image</th>
                         <th> Update </th>
                          <th> Delete </th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for i in res %}
                        <tr>

                            <td>{{i.id}}</td>
                            <td>{{i.product_category}}</td>
                            <td>{{i.item_name}}</td>
                            <td>{{i.rate}}</td>
                            <td>{{i.description}}</td>
							<td><img src="../media/{{i.image}}" style="width:100px; height:100px;"></td>
									
							<td><a href="{% url 'productupdate' id=i.id %}">Update</a></td>
							<td><a href="{% url 'productdelete' id=i.id %}">Delete</a></td>
                            

                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>



          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © bootstrapdash.com 2021</span>
              <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'admin/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'admin/js/off-canvas.js' %}"></script>
    <script src="{% static 'admin/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'admin/js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  {% endblock %}
  </body>
</html>