
{% block content %}
{% load static %}

{% include 'header.html' %}
<style>
    .description-scroll {
    max-height: 100px; /* Set the maximum height for the description */
    overflow-y: auto; /* Enable vertical scrollbar if needed */
}

.item-description {
    margin-bottom: 0; /* Remove default margin to prevent extra space */
}
</style>

<!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">Recipes</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Recipe</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
  <!-- About Start -->
  <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="../media/{{itm.item_image}}">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">{{result.recipe_name}}</h1>
                <p class="mb-4">{{result.recipe_desc}}</p>
                <h5>Ingrediants for {{serve_num}} Serving</h5>
                {% for ingredient in ingredients %}
                <p><i class="fa fa-check text-primary me-3"></i><strong>{{ ingredient.ing_unit }} </strong> {{ ingredient.ingrediant }}</p>
                {% endfor %}
           
           
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="view_item_recipes/{{itm.id}}">Back</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
    
{% include 'footer.html' %}

{% endblock %}