{% block content %}
{% load static %}

{% include 'header.html' %}
{% if msg %}
<script>
    alert('{{ msg }}');
</script>
{% endif %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown">My Cart</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


        <!-- Cart Page Start -->
        <div class="container-fluid py-5">
            <div class="container py-5">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Products</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart_item_with_details in cart_items_with_details %}
                                {% with cart_item=cart_item_with_details.cart_item item_details=cart_item_with_details.item_details total_price=cart_item_with_details.total_price %}
                                    <tr>
                                        <th scope="row">
                                            <div class="d-flex align-items-center">
                                                <img src="{{ item_details.item_image.url }}" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
                                            </div>
                                        </th>
                                        <td>
                                            <p class="mb-0 mt-4">{{ item_details.item_name }}</p>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">₹{{ item_details.item_price }}</p>
                                        </td>
                                        <td>
                                            <form action="update_qnty/{{cart_item.id}}" method="post">
                                                {% csrf_token %}
                                            <div class="input-group quantity mt-4" style="width: 100px;">
                                                <!-- <div class="input-group-btn">
                                                    <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                        <i class="fa fa-minus"></i>
                                                    </button>
                                                </div> -->
                                               
                                                <input type="number" max="{{ item_details.item_stock }}" class="form-control" name="updt_qnty" value="{{ cart_item.cart_qty }}">
                                                <input type="submit" name="submit" value="ok" id=""class="btn btn-primary" >
                                               
                                                <!-- <div class="input-group-btn">
                                                    <button class="btn btn-sm btn-plus rounded-circle bg-light border">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div> -->
                                            </div>
                                        </form>
                                        </td>
                                        <td>
                                            <p class="mb-0 mt-4">₹{{ total_price }} </p>
                                        </td>
                                        <td>
                                            <a href="remove_cart_item/{{cart_item.id}}" class="btn btn-danger rounded-pill py-3 px-5">
                                                Remove
                                            </a>
                                        </td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                        
                    </table>
                    
                </div>
              
                <div class="row g-4 justify-content-end">
                    <div class="col-8"></div>
                    <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                        <div class="bg-light rounded">
                            <div class="p-4">
                                <h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
                                <div class="d-flex justify-content-between mb-4">
                                    <h5 class="mb-0 me-4">Total Products:</h5>
                                    <p class="mb-0">{{ request.session.carttotalitem }}</p>
                                </div>
                               
                            </div>
                            <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                                <h5 class="mb-0 ps-4 me-4">Total Price</h5>
                                <p class="mb-0 pe-4">₹ {{cart_master_obj.cart_tot_amt}}</p>
                            </div>
                            <a href="checkout/{{cart_master_obj.id}}" class="btn btn-primary rounded-pill py-3 px-5" type="button">Proceed Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Cart Page End -->


        {% include 'footer.html' %}

        {% endblock %}